{
  "parser": "babel-eslint",
  "extends": "standard",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "__DEV__": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-confusing-arrow": 0,
    "jsx-quotes": [
      2,
      "prefer-double"
    ]
  }
}
